@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
@import 'antd/dist/antd.min.css';

:root {
  --primary-color: rgb(238, 77, 45);
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

code {
  font-size: 62.5%;
}
